<%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-sm btn-block btn-soft-google transition-3d-hover mt-2" do %>
  <span class="fab fa-google mr-1"></span>
  Google
<% end %>
<%= link_to user_github_omniauth_authorize_path, class: "btn btn-block btn-sm btn-block btn-soft-github transition-3d-hover mt-2" do %>
  <span class="fab fa-github mr-1"></span>
  GitHub
<% end %>
<%= link_to user_linkedin_omniauth_authorize_path, class: "btn btn-block btn-sm btn-block btn-soft-linkedin transition-3d-hover mt-2" do %>
  <span class="fab fa-linkedin mr-1"></span>
  LinkedIn
<% end %>