<a class="btn btn-block btn-sm btn-block btn-soft-github transition-3d-hover mr-1" href="#">
  <span class="fab fa-github mr-1"></span>
  GitHub
</a>
<a class="btn btn-block btn-sm btn-block btn-soft-google transition-3d-hover ml-1 mt-0" href="#">
  <span class="fab fa-google mr-1"></span>
  Google
</a>
<a class="btn btn-block btn-sm btn-block btn-soft-linkedin transition-3d-hover ml-1 mt-0" href="#">
  <span class="fab fa-linkedin mr-1"></span>
  LinkedIn
</a>